body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: white;
}

/* NAVIGATION BAR */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* DOWNLOAD BUTTONS */

.download-button {
  margin: 5% 3% 5% 0;
}

/* TITLE IMAGE */

.title-image {
  width: 60%;
  transform: rotate(20deg);
  right: 30%;
  position: absolute;
}

/* FEATURES SECTION */

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.red-icons {
  color: #ef8172;
  margin: 1rem;
}

.red-icons:hover {
  color: #ff4c66;
}

/* TESTIMONIALS SECTION */

#testimonials {
  background-color: #ef8172;
  color: white;

  text-align: center;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* PRICING SECTION */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* CALL TO ACTION */

#cta {
  background-color: #ff4c66;
  color: white;
  padding: 7% 15%;
  text-align: center;
}

.cta-title {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  margin: auto;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* FOOTER */

#footer {
  background-color: white;
  text-align: center;
  padding: 7% 15%;
}

.footer-logos {
  color: black;
  margin: 0 20px;
}

/* MEDIA QUERY */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
